body {
    background-color: black !important;
    font-family: 'Lato', sans-serif !important;
}

#estilonav {
    position: fixed;
    width: 100%;
    z-index: 10;
}

#quienessomos {
    color: white;
    background-color: transparent;
}

#quienes1 {
    background-color: transparent;
    color: white;
    font-weight: 300 !important;
}

#quienes2 {
    background-color: transparent;
    color: white;
    font-weight: 300 !important;
}

#quienes3 {
    background-color: transparent;
    color: white;
    font-weight: 300 !important;
}

#destacados {
    color: white;
    background-color: transparent;
}

#destacado1 .image-top {
    height: 160px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    font-weight: 300 !important;
}

#destacado2 .image-top {
    height: 160px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    font-weight: 300 important;
}

#destacado3 .image-top {
    height: 160px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    font-weight: 300 important;
}

#destacado4 .image-top {
    height: 160px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    font-weight: 300 important;
}

#final {
    display: flex;
    justify-content: space-between;
}